@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Barcode+39&family=Rubik+Maze&display=swap');

.App {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Audiowide',cursive;
  font-size: 50px;
  margin-right: 300px;
  margin-left: 450px;
  display: flex;
  flex-direction: row;
}

img {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  height: 5em;
  width: 5em;
  margin-right: 10px;
  margin-left: 30px;
}

.container{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-evenly
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-content:flex-end;
  justify-self:flex-end;
  margin-left: 10px;
  width: 200px;
  
}

.table{
  /* background-color: #282c34; */
  border: solid grey 1px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 30em;
  width: 1000px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  align-content: center;
  border-collapse: collapse;
}

th,
td {
 
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

th {
  background-color: rgb(117, 201, 250);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

td {
  background-color: rgb(205, 235, 253);
  border-radius: 5px;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}

#submit {
  align-self: center;
  align-items: center;
  width: 100px;
}